<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left: 10px" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Thuis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/BoardGameNight/Index">Spelavonden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/BoardGame">Spellen</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Jouw profiel</a>
      </li>
      @if (User.Identity!.IsAuthenticated)
      {
        <li class="nav-item">
          <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="nav-link btn btn-link">Uitloggen</button>
            @Html.AntiForgeryToken()
          </form>
        </li>
      }
      else
      {
        <li class="nav-item">
          <a class="nav-link" href="/Account/Login">Inloggen</a>
        </li>
      }
    </ul>
  </nav>

  <div class="container">@RenderBody()</div>

  <footer class="fixed-bottom bg-dark text-light text-center py-3">
    &copy; @DateTime.Now.Year Gemaakt door Mick Holster, student Avans Hogeschool.
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f73f8ceafb.js" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      // Initialize Bootstrap components
      $('[data-toggle="collapse"]').collapse();
    });
  </script>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
