@model Portal.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="container">
    <h1>Login</h1>
    <form asp-action="Login" method="post">
        <!-- Email -->
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Login</button>
        <a asp-action="Register" class="btn btn-secondary mt-2">Registreren</a>

    </form>
</div>
