@{
    ViewData["Title"] = "Logout";
    Layout = "_Layout";
}

<div class="container text-center mt-5">
    <h1>Je bent uitgelogd</h1>
    <h3>Bedankt voor het gebruik van SpelavondenApp.</h3>
    <h3>Wil je terug naar de hoofdpagina?</h3>
    <a class="btn btn-primary" href="/">Terug naar hoofdpagina</a>
</div>
