@{
    ViewData["Title"] = "Over ons";
    Layout = "_Layout";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Over ons</h1>
                <p>
                    Welkom bij mijn website Game Nights! Deze website is gemaakt voor immigranten en vluchtelingen die
                    naar Nederland zijn gekomen en moeite hebben met de nederlandse taal.
                </p>
                <p>
                    Als immigrant of vluchteling is het moeilijk om de nederlandse taal te leren en te integreren in
                    onze samenleving. Hierdoor is het moeilijk om vrienden te maken en sociale contacten te leggen. Dit
                    is dan ook de reden dat veel mensen die minder goed nederlands spreken zich buitengesloten voelen.
                    Samen met de taalschool en een buurtvereniging hebben wij de handen ineen geslagen om deze mensen te
                    helpen. De bedoeling is dat door middel van spelavonden een gezellige avond te hebben en
                    spelenderwijs hun nederlands te verbeteren en nieuwe mensen te leren kennen.
                    <br><br>
                    Ook meedoen? Meld je dan nu aan voor de website en speel mee!
                </p>
            </div>

            <div class="col-md-6">
                <img src="~/images/Logo_With_Text.png" alt="About us page Photo" class="img-fluid"
                    style="max-height: 500px;">
            </div>
        </div>
    </div>
</body>
