@model Portal.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container text-center mt-5">

    @if (Model!.IsAuthenticated)
    {
        <h1 class="display-3 mb-4">Welkom! @Model.UserName</h1>
        <img src="~/images/GamesHomePagePhoto.jpg" alt="Home page Photo" class="img-fluid" style="max-height: 500px;">
    }
    else
    {
        <h1 class="display-3 mb-4">Welkom!</h1>
        <h3>Wil jij graag jouw Nederlands verbeteren op een leuke manier? Dan ben je hier op het juiste adres.</h3>

        <img src="~/images/GamesHomePagePhoto.jpg" alt="Home page Photo" class="img-fluid" style="max-height: 500px;">
        <p>
            <a class="btn btn-primary btn-lg mt-3" href="/Account/Login">Inloggen</a>
            <a class="btn btn-secondary btn-lg mt-3" href="/Account/Register">Registreren</a>
        </p>
    }
</div>
