@model Core.Domain.Entities.BoardGameNight

@{
    ViewData["Title"] = "Create Board Game Night";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Maak een spelavond aan:</h2>

            <form asp-action="Create" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label asp-for="DateAndTime">Datum & Tijd</label>
                    <input asp-for="DateAndTime" class="form-control" required />
                    <span asp-validation-for="DateAndTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address">Adres</label>
                    <input asp-for="Address" class="form-control" required />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MaxPlayers">Maximaal aantal spelers</label>
                    <input asp-for="MaxPlayers" class="form-control" required />
                    <span asp-validation-for="MaxPlayers" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedBoardGameId">Selecteer een bordspel</label>
                    <select asp-for="SelectedBoardGameId" class="form-control" required>
                        <option value="">-- Selecteer een bordspel --</option>

                        @if (Model.Games != null && Model.Games.Any())
                        {
                            foreach (var boardGame in Model.Games)
                            {
                                <option value="@boardGame?.Id">@boardGame?.Name</option>
                            }
                        }
                        else
                        {
                            <option value="" disabled>Geen bordspellen beschikbaar, maak er een aan.</option>
                        }
                    </select>
                    <span asp-validation-for="SelectedBoardGameId" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Aanmaken</button>
                </div>
            </form>
        </div>
    </div>
</div>
