@{
    ViewData["Title"] = "Spelavonden";
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-gamepad fa-3x mb-3"></i>
                    <h5 class="card-title">Alle bordspelavonden</h5>
                    <button class="btn btn-primary" onclick="navigateTo('AllBoardGameNights')">Bekijk</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-users fa-3x mb-3"></i>
                    <h5 class="card-title">Jouw bordspelavonden</h5>
                    <button class="btn btn-primary" onclick="navigateTo('OrganizedBoardGameNights')">Bekijk</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-user-friends fa-3x mb-3"></i>
                    <h5 class="card-title">Borspelavonden waar je aan deelneemt</h5>
                    <button class="btn btn-primary" onclick="navigateTo('JoinedBoardGameNights')">Bekijk</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary" asp-action="Create">
                <i class="fas fa-plus"></i> Bordspelavond aanmaken
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function navigateTo(tabName) {
            window.location.href = `/BoardGameNight/${tabName}`;
        }
    </script>
}
