@model Core.Domain.Entities.BoardGame
@using Core.Domain.Entities.Enums

@{
    ViewData["Title"] = "Create Board Game";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Maak een bordspel aan:</h2>

            <form asp-action="Create" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label asp-for="Name">Naam</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Beschrijving</label>
                    <textarea asp-for="Description" class="form-control" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Genre">Genre</label>
                    <select asp-for="Genre" asp-items="Html.GetEnumSelectList<GenreType>()" class="form-control"
                        required>
                        <option value="">Selecteer een genre</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GameType!.Type">Speltype (Kaartspel, Bordspel)</label>
                    <input asp-for="GameType!.Type" class="form-control" />
                    <span asp-validation-for="GameType.Type" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Is18Plus">18+</label>
                    <input asp-for="Is18Plus" class="form-check-input" type="checkbox" />
                </div>

                <div class="form-group">
                    <label asp-for="PhotoUrl">URL van de foto</label>
                    <input asp-for="PhotoUrl" class="form-control" />
                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Aanmaken
                </button>

                <a href="/BoardGame/Index" type="submit" class="btn btn-secondary">
                    <i class="fa fa-arrow-left"></i> Ga terug
                </a>

            </form>
        </div>
    </div>
</div>
